antares/m5272adc_dac.o
antares/m5272gpio.o
antares/m5272int.o
antares/m5272lcd.o
antares/m5272lib.o
antares/teclado_matricial.o
interrupciones.o
libantares/close.o
libantares/exit.o
libantares/fstat.o
libantares/getpid.o
libantares/inbyte.o
libantares/isatty.o
libantares/kill.o
libantares/lseek.o
libantares/nanosleep.o
libantares/open.o
libantares/outbyte.o
libantares/print.o
libantares/putnum.o
libantares/read.o
libantares/reset.o
libantares/sbrk.o
libantares/stat.o
libantares/unlink.o
libantares/write.o
libm5272/m5272adc_dac.o
libm5272/m5272gpio.o
libm5272/m5272lcd.o
libm5272/teclado_matricial.o
main
main.dep
main.hcf
main.o
utils/mot2as
utils/mot2as.dSYM
utils/serial-console
utils/serial-console.dSYM
utils/test-split
utils/test-split.dSYM
calculos.o
interrupciones_sim.o
libm5272/libm5272_sim.a
libm5272/libm5272.a
mytime.o
sim/DAC_out.txt
tasks.o
